<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Preview App </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<body style="background-color: ;">
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container ">
                <h1 style="display: flex;justify-content: center;font-family: 'Nunito Sans', sans-serif;" class="title" >
                    Weather Preview App!
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                    {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type='sumit' class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                        <div class="notification {{ message_class }}"> {{ message }}  </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.temperature}} °C </span>
                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                            
                         </div>
                         <div class = "media-right">
                                <a href = '{% url 'delete_city' city_weather.city %}'> <button class = "delete"> </button>
                                </a>
                            </div>
                        </article>
                    </div>
                 {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer" style="bottom: 0; padding: 0; width: 100%; text-align: center; padding: 8px;">
    <span class="title" style="position: static; font-size: 1rem; text-decoration: none; color: rgb(92, 90, 90);"> Made with ❤️ by <a style="color: rgb(92, 90, 90);" href="https://parthshukla.netlify.app/">Parth</a>  </span>
    </footer>
</body>

</html>